/** Desktop First **/


/** Global Settings **/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 13px;
    font-weight: normal;
    width: 100vw;
}

#bloc_page {
    width: 90vw;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.imagefont {
    height: 13px;
    width: 13px;
}

strong {
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/** Header's Settings **/

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 0px 40px 0px;
}

nav {
    margin-top: 0px;
    margin-bottom: 16.5px;
}

nav a {
    text-decoration: none;
    margin-right: 15px;
    margin-top: 0px;
    justify-content: space-between;
    color: black;
    padding: 19px 20px 0px 20px;
    font-size: 1.2em;
}

nav a:hover {
    color: #0065FC;
    border-top: 4px #0065FC solid;
}

.suscribe {
    border-top: none;
    color: #0065FC;
    margin-bottom: 22px;
}

.suscribe:hover {
    color: none;
    border-top: none;
}


/** First Section **/

#recherche_filtre {
    display: flex;
    flex-direction: column;
}


/** Title **/

#search-and-fiters h1 {
    margin: 20px 0px 0px 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: sans-serif;
}

#search-and-fiters p {
    margin: 0px 0px 10px 0px;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}


/** Bloc Search **/

#search {
    margin-bottom: 20px;
    position: relative;
    width: 300px;
    display: flex;
    align-items: justify;
    padding: 15px 15px 15px 0px;
}

#search .imagefont {
    height: 17px;
    width: 17px;
}

#search label {
    background: #F2F2F2;
    padding: 12px 15px 11px 15px;
    align-items: center;
    border: 2px #F2F2F2 solid;
    border-radius: 15px 0px 0px 15px;
    margin: 0px 0px 0px 0px;
}

#search input {
    background: white;
    padding: 12px 10px 11px 10px;
    align-items: center;
    border: 2px #F2F2F2 solid;
    margin: 0px 0px 0px 0px;
}

#search button {
    background: #0065FC;
    padding: 12px 10px 11px 10px;
    align-items: center;
    border: 2px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    color: #F2F2F2;
    margin: 0px 0px 0px 0px;
}

#search ::placeholder {
    font-size: 1.2em;
    color: black;
}


/** Bloc Filter **/

#search-and-fiters #bloc_filter {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
    padding: 12px 12px 12px 0px;
}

#bloc_filter .title {
    padding: 15px 0px 25px 0px;
    font-weight: bold;
}

#bloc_filter p {
    margin: 0px 0px 10px 0px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

#bloc_filter form {
    margin-bottom: 20px;
    position: relative;
    width: 300px;
    display: flex;
    height: 20px;
    align-items: center;
    padding: 15px 15px 15px 30px;
}

#bloc_filter label {
    background: #DEEBFF;
    padding: 10px 15px 10px 10px;
    align-items: center;
    border: 1px #DEEBFF solid;
    border-radius: 50%;
    position: absolute;
    left: 25px;
}

#bloc_filter input {
    background: white;
    padding: 12px 0px 11px 40px;
    align-items: center;
    border: 2px #F2F2F2 solid;
    width: auto;
    margin-right: 0.1px;
    border-radius: 20px 20px 20px 20px;
}

#bloc_filter input:hover {
    background: #DEEBFF;
    padding: 12px 0px 11px 40px;
    align-items: center;
    border: 2px white solid;
    width: auto;
    margin-right: 10px;
    border-radius: 20px 20px 20px 20px;
    color: #0065FC;
}


/* Information */

#info {
    display: flex;
    align-items: center;
    margin: 0px 0px 20px 0px;
    color: #202124;
}

#info .imagefont {
    border: 1px #F2F2F2 solid;
    border-radius: 50%;
    padding: 0.4%;
    margin: 0px 10px 10px 0px;
}


/** Section accomodation **/

#accomodation {
    display: flex;
    transition: 1s;
}

#accomodation h2 {
    color: black;
    font-weight: bold;
    font-size: 1.6em;
    font-family: sans-serif;
    text-align: left;
}

#accomodation article {
    background-color: #F2F2F2;
    position: relative;
    width: 60vw;
    height: 600px;
    margin: 0px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px 10px 30px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

#accomodation .text_top {
    margin: 0px 0px 10px 0px;
    color: black;
    font-weight: bold;
    font-size: 1.6em;
    font-family: sans-serif;
}

#accomodation .text_bottom {
    margin: 0px 0px 10px 0px;
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    font-family: sans-serif;
}

#accomodation #pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    height: 400px;
    margin-right: 20px;
}

#pictures p {
    color: black;
    font-size: 1.6em;
}

#pictures #image_hebegement1 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/aubergelacannebiere.jpg') no-repeat;
    background-size: contain;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#pictures #image_hebegement2 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hotelduport.jpg') no-repeat;
    background-size: contain;
    background-position: top;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#pictures #image_hebegement3 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hotellesmouettes.jpg') no-repeat;
    background-size: 100% auto;
    background-position: left 1px bottom 70px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#pictures #image_hebegement4 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hoteldelamer.jpg') no-repeat;
    background-size: 100% auto;
    background-position: right 1px bottom 30px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#pictures #image_hebegement5 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/aubergelepanier.jpg') no-repeat;
    background-size: 100% auto;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#pictures #image_hebegement6 {
    height: 200px;
    width: 230px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hotelchezamina.jpg') no-repeat;
    background-size: 100% auto;
    background-position: left 1px bottom 50px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}


/* Description d'images */

article .picture_description {
    position: absolute;
    bottom: -1px;
    left: -1px;
    background: white;
    height: 80px;
    width: 230px;
    border: 4px white solid;
    border-radius: 0px 0px 8px 8px;
    text-align: justify;
    align-items: center;
    font-size: 0.6em;
}

#accomodation aside {
    background-color: #F2F2F2;
    width: 21.5vw;
    height: 600px;
    margin-left: 30px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 20px 10px 20px;
    justify-content: space-around;
}

#accomodation .texthebpop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin: 0px 0px 10px 0px;
    color: black;
    font-weight: bold;
    font-size: 1.6em;
    font-family: sans-serif;
}

.texthebpop img {
    margin-bottom: 5px;
}

#populaire p {
    color: black;
    font-size: 1.6em;
}

#populaire #image_hebegement7 {
    height: 140px;
    width: 295px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hotellesoleildumatin.jpg') no-repeat;
    background-size: contain;
    background-position: left -50px top 0.1px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 0px 20px 0px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#populaire #image_hebegement8 {
    height: 140px;
    width: 295px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/aucoeurdeleauchambresdhotes.jpg') no-repeat;
    background-size: 75% auto;
    background-position: left -50px bottom 0.1px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    margin: 0px 0px 0px 0px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#populaire #image_hebegement9 {
    height: 140px;
    width: 295px;
    padding: 3px 3px 3px 3px;
    background: url('images/hebergements/4_small/hoteltoutbleuetblanc.jpg') no-repeat;
    background-size: 50% auto;
    background-position: left 1px bottom -25px;
    position: relative;
    border: 4px white solid;
    border-radius: 15px 15px 15px 15px;
    margin: 20px 0px 20px 0px;
    box-shadow: 4px 4px 4px #ebebeb;
}

aside .Image_description {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    height: 140px;
    width: 130px;
    border: 4px white solid;
    border-radius: 0px 8px 8px 0px;
    text-align: justify;
    align-items: center;
    font-size: 0.6em;
    padding-left: 20px;
}

aside #stars {
    margin-top: 60px;
}

#accomodation a:hover {
    transform: scale(1.2);
}


/** Section activities **/


/* Section activités générale */

#activities {
    display: flex;
    transition: 1s;
    width: 90vw;
}


/* Section activités article */

#activites #activity {
    background-color: white;
    position: relative;
    height: 500px;
    margin-top: 10px;
    border-radius: 15px 15px 15px 15px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

#activity a:hover {
    transform: scale(1.2);
}

#activity p {
    margin-bottom: 0px;
    padding-bottom: 10px;
    margin-top: 40px;
    color: black;
    font-size: 1.6em;
    font-family: sans-serif;
}

#activities #activities_bloc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    height: 400px;
    width: 89vw;
    margin: 0px 0px 30px 0px;
}

#activities #image1 {
    height: 400px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/vieuxport.jpg') no-repeat;
    background-position: center;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#activities #image2 {
    height: 190px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/fortdepomegues.jpg') no-repeat;
    background-position: center;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
    margin: 0px 0px 10px 0px;
}

#activities #image3 {
    height: 170px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/ilesdufrioul.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
    margin: 10px 0px 0px 0px;
}

#activities #image4 {
    height: 400px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/parcnationaldescalanques.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
}

#activities #image5 {
    height: 170px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/notredamedelagarde.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
    margin: 0px 0px 10px 0px;
}

#activities #image6 {
    height: 190px;
    width: 270px;
    padding: 3px 3px 3px 3px;
    background: url('images/activites/4_small/parclongchamp.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border: 2px white solid;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 4px 4px 4px #ebebeb;
    margin: 10px 0px 0px 0px;
}

#activity .nom {
    position: absolute;
    bottom: -1px;
    right: 0px;
    left: -1px;
    background: white;
    height: 18px;
    width: 252px;
    border: 4px white solid;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    padding-top: 5px;
    font-size: 0.6em;
    padding-left: 18px;
    margin-top: 40px;
    font-size: 1.3em;
    font-family: 'Raleway' sans-serif;
}


/** Footer **/

footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    justify-content: left;
    width: 100%;
    padding-left: 0px;
}

footer ul {
    flex-direction: column;
    padding: 0px 10px 0px 0px;
}

footer h1 {
    font-size: 1.3em;
    font-weight: lighter;
    font-family: sans-serif;
}

footer li {
    padding-bottom: 10px;
}

footer .bloc_footer {
    margin-left: 70px;
    margin-right: 200px;
}


/** Version Tablette **/

@media (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: aquamarine;
    }
    #search-and-fiters #bloc_filter {
        display: flex;
        flex-direction: row;
        width: 500px;
        justify-content: space-between;
        margin: 0px 0px 5px 0px;
        padding: 12px 12px 12px 0px;
    }
}


/** Version Mobile Iphone 6/7/8 **/

@media (max-width: 767px) {
    /** Global Settings **/
    #bloc_page {
        width: 100vw;
        margin: auto;
    }
    /** Header's Settings **/
    header {
        display: inline;
        width: 100%;
    }
    nav {
        width: 100%;
        display: flex;
    }
    nav a {
        text-decoration: none;
        color: black;
        border-bottom: 4px #F2F2F2 solid;
        width: 50%;
        height: 20px;
        padding-bottom: 15px;
        margin: 20px 0px 30px 0px;
        text-align: center;
        font-size: 1.6em;
        font-weight: bolder;
    }
    nav a:hover {
        color: #0065FC;
        border-bottom: 4px #0065FC solid;
        margin-bottom: none;
        border-top: none;
        padding-bottom: 15px;
    }
    .suscribe {
        width: auto;
        border-bottom: none;
        color: #0065FC;
        margin: 0px 20px 15px 0px;
        position: absolute;
        top: 20px;
        right: 0px;
        font-size: 1.4em;
        font-family: sans-serif;
        font-weight: bolder;
        padding-left: 150px;
    }
    .suscribe:hover {
        border-bottom: none;
    }
    #logo {
        margin: 27px 0px 0px 20px;
    }
    /** Title **/
    #search-and-fiters #title {
        padding: 0em 1.5em 0em 1.5em;
        font-size: 1.2em;
        justify-content: center;
    }
    #search-and-fiters h1 {
        font-weight: bold;
        justify-content: center;
        font-size: 1.5em;
    }
    /** Bloc Search **/
    #search {
        margin: 20px 20px 20px 20px;
        position: relative;
        width: 90%;
        height: 60px;
        display: flex;
        align-items: justify;
        padding: 15px 15px 15px 0px;
    }
    #search .imagefont {
        margin: 7px 5px 5px 7px;
        height: 20px;
        width: 20px;
    }
    #search ::placeholder {
        font-size: 1.5em;
        color: black;
    }
    #search input {
        padding-top: 17px;
        width: 70%;
    }
    #search button {
        background: url('images/fromfontawesome/magnify.svg') no-repeat;
        background-size: 30px;
        background-position: top 13px left 25px;
        background-color: #0065FC;
    }
    #search p {
        color: #F2F2F2;
    }
}